
    
    
       
    
   <!-- Navigation -->
   <h3 class="h3">CÁC SẢN PHẨM</h3>
   <div class="container">
       <h2 class="h2">Hoa sinh nhật</h2>
       <div class="row">
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-ba-me/8757_cung-nhau.jpg">
                       </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">360.000vnd
                           <span>450.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-ba-me/6830_mua-hong.jpg">
                       </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">560.000vnd
                           <span>700.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-ox-bx/7253_nong-nan.jpg">
                       </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">1.040.000vnd
                           <span>1.300.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-ba-me/4615_only-one.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">400.000vnd
                           <span>500.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
       </div>
       <h2 class="h2">Hoa chúc mừng</h2>
       <div class="row">
           
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-ba-me/8032_closer.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">520.000vnd
                           <span>650.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-nguoi-yeu/8756_romance-2.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">400.000vnd
                           <span>500.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-nguoi-yeu/7244_just-for-you.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-sinh-nhat-dong-nghiep/7247_tinh-hong-2.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Together</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
       </div>
       <h2 class="h2">Hoa chia buồn</h2>
       <div class="row">
           
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-chia-buon/8396_deep-condolences.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Vĩnh hằng</a></h3>
                       <div class="price">520.000vnd
                           <span>650.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-chia-buon/8398_vinh-hang.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Deep condolences</a></h3>
                       <div class="price">400.000vnd
                           <span>500.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-chia-buon/8397_hai-the-gioi-2.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Hai thế giới 2</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-chia-buon/8388_rest-in-peace.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Rest in peace</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
       </div>
       <h2 class="h2">Cây văn phòng</h2>
       <div class="row">
           
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://locat.com.vn/hinh-hoa-tuoi/thumb/cay-khuyen-mai/7826_luoi-ho-cement-2.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Lưỡi hổ cement 2</a></h3>
                       <div class="price">520.000vnd
                           <span>650.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://locat.com.vn/hinh-hoa-tuoi/thumb/cay-khuyen-mai/7852_trau-ba-thuy-sinh.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Trầu Bà Thủy Sinh</a></h3>
                       <div class="price">400.000vnd
                           <span>500.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://locat.com.vn/hinh-hoa-tuoi/thumb/cay-khuyen-mai/8260_goc-vuon.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Góc Vườn</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://locat.com.vn/hinh-hoa-tuoi/thumb/cay-khuyen-mai/8264_ong-ba-toi.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Ông Bà Tôi</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
       </div>
       <h2 class="h2">Hoa giáng sinh</h2>
       <div class="row">
           
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-giang-sinh/7701_christmas-elves.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Christmas Elves</a></h3>
                       <div class="price">520.000vnd
                           <span>650.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-giang-sinh/7702_baby-gingerbread.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Baby gingerbread</a></h3>
                       <div class="price">400.000vnd
                           <span>500.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-giang-sinh/7704_snow-man.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Snow man</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
           <div class="col-md-3 col-sm-6">
               <div class="product-grid">
                   <div class="product-image">
                       <a href="#">
                           <img class="pic-1" src="https://hyt.r.worldssl.net/hinh-hoa-tuoi/thumb/hoa-giang-sinh/5334_ngay-dong.jpg">                    </a>
                       <span class="product-new-label">Sale</span>
                       <span class="product-discount-label">20%</span>
                   </div>
                   <ul class="rating">
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star"></li>
                       <li class="fa fa-star disable"></li>
                   </ul>
                   <div class="product-content">
                       <h3 class="title"><a href="#">Ngày đông</a></h3>
                       <div class="price">890.000vnd
                           <span>1.100.000vnd</span>
                       </div>
                       <a class="add-to-cart" href="">+ Add To Cart</a>
                   </div>
               </div>
           </div>
       </div>
       
       
   </div>
   <hr>
     