        <!-- Footer -->
        <footer class="footer bg-dark text-white">
    
    

            <!-- Footer Links -->
            <div class="container pt-5 pb-2">
                <div class="row">
        
                    <div class="col-md-3 col-lg-4 col-xl-3">
                        <h4>Blue Flowers</h4>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <p>  
                            Với sự đầu tư nghiêm túc, chúng tôi tập trung nâng cao trải nghiệm người dùng (UX) kể cả trên môi trường trực tuyến và ngoại tuyến để đem lại một dịch vụ hoàn hảo xứng đáng trong nỗ lực trở thành công ty điện hoa số 1 tại Việt Nam.
                        </p>
                    </div>
        
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                        <h4>Sản phẩm</h4>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <p><a href="#" class="text-white">Hoa tình yêu</a></p>
                        <p><a href="#" class="text-white">Hoa chúc mừng</a></p>
                        <p><a href="#" class="text-white">Hoa lễ tang</a></p>
                        <p><a href="#" class="text-white">Cây văn phòng</a></p>
                        <p><a href="#" class="text-white">Mẫu hoa mới</a></p>
                        <p><a href="#" class="text-white">Hoa sinh nhật</a></p>
                    </div>
        
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                        <h4>Useful links</h4>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <p><a href="#" class="text-white">Home</a></p>
                        <p><a href="#" class="text-white">PRODUCTS</a></p>
                        <p><a href="#" class="text-white">HELP</a></p>
                    </div>
        
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <h4>Contact</h4>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <p><i class="fa fa-home mr-3"></i> Company Location</p>
                        <p><i class="fa fa-envelope mr-3"></i> quamonltcsdl@gmail.com </p>
                        <p><i class="fa fa-phone mr-3"></i> + 98 765 432 11</p>
                        <p><i class="fa fa-print mr-3"></i> + 98 765 432 10</p>
                    </div>
        
                </div>
            </div>
            <!-- Footer Links-->
        
            <hr class="bg-white mx-4 mt-2 mb-1">
        
            <!-- Copyright-->
            <div class="container-fluid">
                <p class="text-center m-0 py-1">
                    © 2017 Copyright <a href="https://getbootstrap.com/" class="text-white">BLUEFLOWERS</a>
                </p>
            </div>
            <!-- Copyright -->
        
        </footer>
        <!-- Footer -->
